/**
 * @Author: Ali Ismail
 * @Date:   2018-04-03T16:55:09+02:00
 * @Last modified by:   Ali Ismail
 * @Last modified time: 2018-04-03T18:10:59+02:00
 */



.App {
  text-align: center;
  background-color: blue;
}
.AddProject {
  font-size: 22px;
}

.App-title {
  font-size: 1.5em;
}
