/**
 * @Author: Ali Ismail
 * @Date:   2018-04-03T16:55:09+02:00
 * @Last modified by:   Ali

 */



.App {
  text-align: center;
  margin: 20px;
  background-color: #bdc3c7;
}
div {
  margin:12px;
  padding: 0px;
}
button {
  margin:12px;
  padding: 0px;
}
